@using AspNetPim.Models
@model HomeViewModel

@{
    ViewBag.Title = "Fulltext PIM";
    ViewBag.ShowPageCaption = false;
}

<div class="caption">
    <h2>
        Create note
    </h2>
</div>

@Html.Partial("IndexPartial", Model)

@* @section Init *@
@* { *@
@*     var config = { *@
@*         mainFormSelector: '#mainForm', *@
@*         createNoteUrl: '@Url.Action("Create", "Home")', *@
@*         deleteNoteUrl: '@Url.Action("DeleteNote", "Home")', *@
@*         createNoteButtonSelector: '#btnSubmit', *@
@*         newNoteTextSelector: '#@Html.IdFor(m => m.NewNoteText)', *@
@*         deleteNoteButtonSelector: '[delete-note-by-id]', *@
@*         openNoteLinkSelector: '#formMessages', *@
@*     divInProgressSelector: '#progressIndicator', *@
@*     buttonAttributeNameNoteId: "noteId", *@
@*     divNoteListSelector: "#divNoteList", *@
@*     }; *@
@* *@
@*     (pim.pages.latestAndCreate) *@
@*     && *@
@*     (pim.pages.latestAndCreate.init(config)); *@
@* } *@