@model PimWeb.Models.FileSearchViewModel
@{
    ViewBag.Title = "Files";
}

@Html.Partial("FilesPartial", Model, ViewData)

<script>
@section Init
{
    const config = {
        mainFormSelector: '#mainForm',
        deleteNoteUrl: '@Url.Action("Delete")',
        deleteNoteSelector: '[delete-file-by-id]',
        divInProgressSelector: '#progressIndicator',
        attributeNameNoteId: "fileId",
        //divNoteListSelector: "#divNoteList",
    };

    (pim.pages.files)
    &&
    (pim.pages.files.init(config));
}
</script>

<hr/>

<div>
    @Html.ActionLink("Back to home page", "Index", "Home")
</div>
