@using PimWeb.Models
@model PimWeb.Models.NoteSearchViewModel

@using (Html.BeginForm("Search", "Search", FormMethod.Get, new {id = "mainForm"}))
{
    @await Html.PartialAsync("SearchFormContent")
 
    <br/>

    if (Model.SearchResultPage?.Count > 0)
    {
        <div id="divNoteList" class="">
            @await Html.PartialAsync("NoteList", Model.SearchResultPage)

            @await Html.PartialAsync("_Pager", new ViewDataDictionary<NoteSearchViewModel>(ViewData, Model) { {"ActionName", "Search" }})
        </div>
    }
    else
    {
        @: No results to display
    }
}
