@model PimWeb.Models.NoteViewModel

@{
    ViewBag.Title = Model.Note?.Name ?? "Unsaved note";
    ViewBag.ShowPageCaption = false;
}

<script src="~/js/ViewEdit.js" asp-append-version="true"></script>

@Html.Partial("ViewEditPartial", Model)
    
<div>
    @Html.ActionLink("Back to home page", "Index", "Home")
</div>

<script>
@section Init
{
    const config = {
        mainFormSelector: '#mainForm',
        updateNoteUrl: '@Url.Action("Update")',
        createNoteButtonSelector: '#btnSubmit',
        newNoteTextSelector: '#@Html.IdFor(m => m.NoteText)',
        deleteNoteButtonSelector: '#btnDelete',
        updateNoteButtonSelector: '#btnUpdate',
        divInProgressSelector: '#progressIndicator',
    };

    (pim.pages.viewEdit)
    &&
    (pim.pages.viewEdit.init(config));
}
</script>
