html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#progressIndicator {
  display: inline;
  margin-left: 10px;
}

input.input-validation-error {
  border: 1px solid red;
}

div.validation-summary-errors {
  color: red;
}

.field-validation-error {
  color: red;
}

input.datepicker {
  width: 9em !important;
}

div.width-center-80pc {
  display: block !important;
  width: 80%;
  margin: 0 auto;
}

.top-search {
  max-width: 30rem;
  flex: auto;
}