@model PimWeb.Models.FileViewModel

@{
    ViewBag.Title = Model.Title ?? "Unsaved";
    ViewBag.ShowPageCaption = true;
    
    var edit = ViewBag.Edit == true;
    var altModeLinkText = edit ? "View read only" : "Edit";
}



@await Html.PartialAsync("FilePartial", Model)

<div>
    @Html.ActionLink("Back to home page", "Index", "Home")
    
    @if (Model.Version.HasValue)
    {
        @: |
        <a href="@Url.Action("Index", new {id = Model.Id, edit = !edit})">@altModeLinkText</a>
    }
</div>

<script>
@section Init
{
    const config = {
        mainFormSelector: '#mainForm',
        updateUrl: '@Url.Action("Update")',
        deleteButtonSelector: '#btnDelete',
        updateButtonSelector: '#btnUpdate',
        divInProgressSelector: '#progressIndicator',
    };

    (pim.pages.file && pim.pages.file.init(config));
}
</script>
