<?xml version="1.0"?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log\app.log" />
    <param name="AppendToFile" value="true" />
    <param name="PreserveLogFileNameExtension" value="true" />
    <DatePattern value="-yyyy-MM-MMM-dd" />
    <RollingStyle value="Date" />
    <MaxSizeRollBackups value="30" />
    <MaximumFileSize value="100MB" />
    <StaticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <header type="log4net.Util.PatternString" value="[START LOG]%newline" />
      <footer type="log4net.Util.PatternString" value="[END LOG]%newline" />
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
    </layout>
  </appender>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="TraceAppender" />
  </root>
</log4net>
