@model AspNetPim.Models.NoteViewModel

@{
    ViewBag.Title = Model.Note?.Name ?? "Unsaved note";
}


@Html.Partial("ViewEditPartial", Model)

@section Init
{
    var config = {
    mainFormSelector: '#mainForm',
    updateNoteUrl: '@Url.Action("Update")',
    createNoteButtonSelector: '#btnSubmit',
    newNoteTextSelector: '#@Html.IdFor(m => m.NoteText)',
    deleteNoteButtonSelector: '#btnDelete',
    updateNoteButtonSelector: '#btnUpdate',
    divInProgressSelector: '#progressIndicator',
    };

    (pim.pages.viewEdit)
    &&
    (pim.pages.viewEdit.init(config));
}
    
    <div>
        @Html.ActionLink("Back to home page", "Index", "Home")
    </div>
