@model AspNetPim.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
}

<div class="caption">
    <h2>Search</h2>
</div>

@Html.Partial("SearchPartial", Model)

@section Init
{
    var config = {
    mainFormSelector: '#mainForm',
    deleteNoteUrl: '@Url.Action("Delete")',
    deleteNoteButtonSelector: '[delete-note-by-id]',
    divInProgressSelector: '#progressIndicator',
    };

    (pim.pages.search)
    &&
    (pim.pages.search.init(config));
}
 
<hr/>
   
<div>
    @Html.ActionLink("Back to home page", "Index", "Home")
</div>
